{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}Vote{% endblock %}

{% block head %}
<link href="{% static "css/vote/vote.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-10">
      <h1>Vote <small>{{ vote.name }}</small></h1>
      <p>{{ vote.description }}</p>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-6">
      <p class="text-muted">
        Choose {{ vote.min_votes }} to {{ vote.max_votes }} options
      </p>
    </div>
  </div>

  <!-- Options start below -->
  <div class="row">

    {% for opt in options %}
      {% include "vote/option_fragment.html" with option=opt %}
    {% empty %}
      <div class="col-sm-6 col-sm-3-offset">
        There are no options in this vote.
      </div>
    {% endfor %}

  </div> <!-- row -->

  <div class="row form-inline form-group">
      <fieldset>
        <div class="col-sm-12">
          <button type="button" class="btn btn-link pull-left">Start over</button>
          <button type="button" class="btn btn-primary pull-right">Confirm</button>
        </div>
      </fieldset>
  </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  $(".vote-option").click(function() {
    var el = $(this);
    var body = el.children(".panel-body")
    var icon = body.children("span")

    el.toggleClass("panel-default")
    el.toggleClass("panel-success")
    el.toggleClass("selected")

    body.toggleClass("bg-success")

    icon.toggle()
  })

  $(".vote-option .show-desc").click(function() {
    var el = $(this)

    el.parent().hide()
    el.hide()

    el.parent().next().show()

    return false
  })
})
</script>
{% endblock %}
