{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap core CSS -->
  <link href="{% static "css/bootstrap/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">

  <!-- Set up an icon -->
  <link rel="icon" href="{% static "favicon.ico" %}">

  <title>Jay - {% block page_title %}Base{% endblock %}</title>
{% block head %}{% endblock %}
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <span class="text-primary">Jay</span>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="primary-menu">
            <ul class="nav navbar-nav navbar-right">
              <li role="presentation"><a href="/">Home</a></li>
              <li role="presentation"><a href="manage.html">Manage</a></li>
              <li role="presentation"><a href="/imprint">Imprint</a></li>
              {%if user.is_authenticated %}
                <li role="presentation"><span>Hey {{ user.first_name }}</span></li>
              {% else %}
                <li role="presentation"><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div>  <!-- navbar-collapse -->
        </div> <!-- container-fluid -->
      </nav>
      <!-- <img src="{% static "img/logo.svg" %}" width="50px" height="50px">-->
    </div>

    {% block content %}
      <p>This is Jay, your friendly voting system.</p>
    {% endblock %}

    <footer class="footer">
      <p>&copy; Jay 2015</p>
    </footer>

  </div> <!-- /container -->

{% block scripts %}
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
{% endblock %}
</body>
</html>
