{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}Privacy{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <h1>Privacy Policy <small> also legally required</small></h1>
      <br>
Zur Optimierung unsere Webseite sammeln und speichern wir Daten, zB. Datum und
Uhrzeit des Seitenaufrufs, die Seite, von der Sie unsere Seite aufrufen und ähnliches, sofern Sie dieser Datenerhebung und -speicherung nicht widersprechen.
Dies erfolgt anonymisiert, ohne den Benutzer der Seite persönlich zu
identifizieren. Ggf. werden Nutzerprofile mittels eines Pseudonyms erstellt.
Auch hierbei erfolgt keine Verbindung zwischen der hinter dem Pseudonym
stehenden Person mit den erhobenen Nutzungsdaten. Zur Datenerhebung und
Speicherung setzen wir auch cookies ein. Auch diese erheben Daten nur in
anonymisierte oder pseudonomisierter Form.

    <p><a href="http://www.datenschutzerklaerung-online.de/" target="_blank">Datenschutzerklärung</a></p>

    </div>
  </div><!-- row -->
{% endblock %}
