{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}Global Settings Management{% endblock %}

{% block head %}
<link href="{% static "css/vote/vote.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <legend>Global Settings Management</legend>

  {% include "error.html" %}

  <div class="row">
    <div class="col-sm-12">
      {% if superadmin_list %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>User Name</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th class="text-right">Options</th>
            </tr>
          </thead>
          <tbody>
            {% for superadmin in superadmin_list %}
              <tr>
                <td>{{ superadmin.user.username }}</td>
                <td>{{ superadmin.user.first_name }}</td>
                <td>{{ superadmin.user.last_name }}</td>
                <td>{{ superadmin.user.email }}</td>
                <td class="text-right">
                  <form action="{% url 'settings:remove' user_id=superadmin.user.id %}" method="post" class="form-inline" style="display:inline; ">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Delete" />
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

    </div>
  </div>
{% endblock %}
