{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}Filters - Overview{% endblock %}

{% block content %}
  {% if alert_head %}
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-{{ alert_type | default:"danger"}}">
          <strong>{{ alert_head | default:"Something happened."}}</strong>
          {{ alert_text | default:"An internal error occured." }}
        </div>
      </div>
    </div><!-- row -->
  {% endif %}

<div>
  <h2>Filters you can edit</h2>
</div>

{% for s in admin_systems %}
  <div>
    <h3>{{ s.machine_name }}</h3>
    <table class="table">
      <tr>
          <th>Name</th>
          <th>Filter</th>
          <th>Actions</th>
      </tr>

      {% for f in s.userfilter_set.all %}
        <tr>
          <td>
            {{ f.name }}
          </td>
          <td>
            {% autoescape on %}
              {{ f.value }}
            {% endautoescape %}
          </td>
          <td>
            <form action="/filters/edit" method="post" class="form-inline" style="display:inline; ">
              {% csrf_token %}
              <input type="hidden" value="id" value="{{ f.id }}" />
              <input type="submit" class="btn btn-danger" value="Edit" />
            </form>

            <form action="/filters/test" method="post" class="form-inline" style="display:inline; ">
              <input type="hidden" value="id" value="{{ f.id }}" />
              <input type="submit" class="btn btn-danger" value="Test" />
            </form>
            
            <a href="{% url 'filters:delete' filter_id=f.id %}" class="btn btn-primary">Delete</a>
          </td>
        </tr>
      {% endfor %}
        <tr>
          <td colspan="2"></td>
          <td>
            <a href="{% url 'filters:new' system_name=s.machine_name %}" class="btn btn-danger">Add new filter</a>
        </tr>
    </table>
  </div>
{% endfor %}

<div>
  <h2>Filters you can only view</h2>
</div>

{% for s in other_systems %}
  <div>
    <h3>{{ s.machine_name }}</h3>
    <table class="table">
      <tr>
          <th>Name</th>
          <th>Filter</th>
      </tr>

      {% for f in s.userfilter_set.all %}
        <tr>
          <td>
            {{ f.name }}
          </td>
          <td>
            {% autoescape on %}
              {{ f.value }}
            {% endautoescape %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endfor %}

{% endblock %}
