{% load markdown %}
<form method="POST" action="{% url 'votes:edit' system_name=vote.system.machine_name vote_name=vote.machine_name  %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-12">

      <div class="form-group">
        <label>Voting System</label>
        {{vote.system.simple_name | escape}}
      </div>

      <div class="form-group">
        <label>Created by</label>
        {{vote.creator.username | escape}}
      </div>

      <div class="form-group">
        <label for="machine_name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{vote.name | escape }}" {% if vote_readonly %} readonly="readonly" {% endif %}>
      </div>

      <div class="form-group">
        <label for="machine_name">Machine Name</label>
        <input type="text" class="form-control" id="machine_name" name="machine_name" placeholder="Machine Name" value="{{vote.machine_name | escape }}" {% if vote_readonly %} readonly="readonly" {% endif %}>
      </div>

      <!-- TODO: Make these copyable and possibly move these -->
      <div class="form-group">
        <label for="vote_uri">Vote link</label>
        <input type="text" class="form-control"  value="{{vote_uri}}" readonly="readonly" id="vote_uri">
      </div>

      <div class="form-group">
        <label for="results_uri">Results link</label>
        <input type="text" class="form-control"  value="{{results_uri}}" readonly="readonly" id="results_uri">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <textarea class="form-control" rows="10" name="description" id="description" {% if vote_readonly %} readonly="readonly" {% endif %}>{{vote.description | escape }}</textarea>
      </div>
    </div>
    <div class="col-sm-6" id="preview">
      {{vote.description | markdown | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary" {% if vote_readonly %} disabled="disabled" {% endif %}><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
    </div>
  </div>
</form>
