{% load markdown %}
<!-- Option edit -->
<form method="POST" action="{% url 'votes:option_edit' system_name=vote.system.machine_name vote_name=vote.machine_name %}" style="display: inline; ">

  {% csrf_token %}
  <input type="hidden" name="option_id" value="{{o.id}}">

  <div class="row">
    <div class="form-group">
      <label for="opt_name_{{o.number}}">Name</label>
      <input type="text" class="form-control" id="opt_name_{{o.number}}" name="name" placeholder="Name" value="{{o.name | escape }}" {% if vote_readonly %} readonly="readonly" {% endif %}>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <textarea class="form-control" rows="10" name="description" id="opt_desc_{{o.number}}" {% if vote_readonly %} readonly="readonly" {% endif %}>{{o.description | escape }}</textarea>
      </div>
    </div>
    <div class="col-sm-6" id="opt_preview_{{o.number}}">
      {{o.description | markdown | safe }}
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="opt_link_{{o.number}}">Link Name</label>
      <input type="text" class="form-control" id="opt_link_{{o.number}}" name="link_name" placeholder="Link Name" value="{{o.link_name | escape }}" {% if vote_readonly %} readonly="readonly" {% endif %}>
    </div>

    <div class="form-group">
      <label for="opt_link_url_{{o.number}}">Link URL</label>
      <input type="text" class="form-control" id="opt_link_url_{{o.number}}" name="personal_link" placeholder="Link Name" value="{{o.personal_link | escape }}" {% if vote_readonly %} readonly="readonly" {% endif %}>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary" {% if vote_readonly %} disabled="disabled" {% endif %}><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
    </div>
  </div>
</form>
<!-- /Option edit -->

<!-- Toolbar for other stuff -->
<div class="row">
  <div class="col-sm-12">
    <form method="POST" action="{% url 'votes:option_up' system_name=vote.system.machine_name vote_name=vote.machine_name %}" class="form-inline" style="display: inline; ">
      {% csrf_token %}
      <input type="hidden" name="option_id" value="{{o.id}}">
      <button type="submit" class="btn btn-default" {% if vote_readonly %} disabled="disabled" {% endif %}><span class="glyphicon glyphicon-chevron-up"></span>&nbsp;Up</button>
    </form>
    <form method="POST" action="{% url 'votes:option_down' system_name=vote.system.machine_name vote_name=vote.machine_name %}" class="form-inline" style="display: inline; ">
      {% csrf_token %}
      <input type="hidden" name="option_id" value="{{o.id}}">
      <button type="submit" class="btn btn-default" {% if vote_readonly %} disabled="disabled" {% endif %}><span class="glyphicon glyphicon-chevron-down"></span>&nbsp;Down</button>
    </form>
    <form method="POST" action="{% url 'votes:option_delete' system_name=vote.system.machine_name vote_name=vote.machine_name %}" class="form-inline" style="display: inline; ">
      {% csrf_token %}
      <input type="hidden" name="option_id" value="{{o.id}}">
      <button type="submit" class="btn btn-danger" {% if vote_readonly %} disabled="disabled" {% endif %}><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete option</button>
    </form>
  </div>
</div>
<!-- /Toolbar for other stuff -->
