{% if vote_is_open %}

<div class="row">
  <form method="POST" action="{% url 'votes:edit_close' system_name=vote.system.machine_name vote_name=vote.machine_name  %}" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-3">Staging:</label>

      <div class="col-sm-3">
        <button type="submit" class="btn btn-danger" {% if not can_set_close %} disabled="disabled" {% endif %} >&nbsp;Close Vote</button>
      </div>

      {% if not can_set_close %}
        <div class="col-sm-3">
          <div class="form-group">
            A time has been scheduled and this vote will close automatically. 
          </div>
        </div>
      {% endif %}
    </div>
  </form>
</div>
{% endif %}
