<div class="row">
  <form class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-3">Vote link:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" readonly="readonly" id="vote_uri" value="{{vote_uri | escape}}">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Results link:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" readonly="readonly" id="results_uri" value="{{results_uri | escape}}">
      </div>
    </div>
  </form>
</div>
