{% if can_set_stage %}

<div class="row">
  <form method="POST" action="{% url 'votes:edit_stage' system_name=vote.system.machine_name vote_name=vote.machine_name  %}" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-3">Staging:</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="password" name="password" class="form-control">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-danger" >&nbsp;Stage</button>
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          Re-enter your password to stage the vote. This will prevent any further changes to be made. Staging the vote may take a few seconds.
        </div>
      </div>
    </div>
  </form>
</div>

{% elif can_update_eligibile %}
<div class="row">
  <form method="POST" action="{% url 'votes:edit_update' system_name=vote.system.machine_name vote_name=vote.machine_name  %}" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-3">Eligibility:</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="password" name="password" class="form-control">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-danger" >&nbsp;Update eligibility</button>
          </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          Re-enter your password to update eligibility count. This may take a few seconds.
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}
