{% if vote_is_closed or vote_is_public %}

<div class="row">
  <form method="POST" action="{% url 'votes:edit_public' system_name=vote.system.machine_name vote_name=vote.machine_name  %}" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-3">Staging:</label>

      <div class="col-sm-3">
        <button type="submit" class="btn btn-danger" {% if not can_set_public %} disabled="disabled" {% endif %} ><span class="glyphicon glyphicon-globe"></span>&nbsp;Make vote Public</button>
      </div>

      {% if not can_set_public %}

        <div class="col-sm-3">
          <div class="form-group">
            {% if vote_is_public %}
              The vote is already public.
            {% else %}
              A time has been scheduled and this vote will be made public automatically.
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </form>
</div>
{% endif %}
