{% extends "base/base.html" %}

{% load staticfiles %}

{% block page_title %}Home{% endblock %}

{% block content %}
  <!--
  <div class="row">
    <div class="col-sm-8">
      <h1>Home <small>is where you go at night</small></h1>
    </div>
  </div>
  -->

  <!--
  <div class="row">
    {% if eligible_alert %}
    <div class="col-sm-4">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Eligibility </strong>Only votes you can vote in are shown.
      </div>
    </div>
    {% endif %}

    {% if not votes %}
      <div class="col-sm-4">
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>No votes </strong>There are currently no open votes.
        </div>
      </div>
    {% endif %}

    {% if not results %}
      <div class="col-sm-4">
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>No results </strong>There are currently no results to show.
        </div>
      </div>
    {% endif %}
  </div>
  -->

  <div class="row">
    <div class="jumbotron">
      <h1>Voting for Jacobs</h1>
      <p>We provide a voting platform for all students and purposes.
         It allows for confidential voting, allowing student government elections
         as well as simple majority votes for anyone at Jacobs. Any user can create
         their own votes with fully adjustable eligibility and timing.
      </p>
      <p><a class="btn btn-primary btn-lg" href="/nohelppagesdefinedyet" role="button">Learn more</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ vote_list_title | default:"All votes" }}</h3>
        </div>
        <div class="panel-body list-group">
          {% if votes %}
            {% include "vote/fragments/vote_list.html" with votes=votes %}
          {% else %}
            <div class="list-group-item">
              &nbsp;No votes to show.
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ results_list_title | default:"Results" }}</h3>
        </div>
        <div class="panel-body list-group">
          {% if results %}
            {% include "vote/fragments/vote_list.html" with votes=results results=True %}
          {% else %}
            <div class="list-group-item">
              &nbsp;No results to show.
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div><!-- row -->

{% endblock %}
